<h1>hello</h1>
<h1 class="mt-4">Dashboard</h1>

<div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
  </ul>
  <div class="card-body">
    <a href="/" class="btn btn-secondary">Logout </a>
  </div>
</div>

<h1><%= db %></h1>
